<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="nc.uap.mde.launch">
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ufmiddle.start.tomcat.StartDirectServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HT.Project.Uapbd.SupCalendar.V1.1"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dnc.exclude.modules=${FIELD_EX_MODULES} -Dnc.runMode=develop -Dnc.server.location=${FIELD_NC_HOME} -DEJBConfigDir=${FIELD_NC_HOME}/ejbXMLs -DExtServiceConfigDir=${FIELD_NC_HOME}/ejbXMLs -Xmx768m -XX:MaxPermSize=256m"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${FIELD_NC_HOME}"/>
</launchConfiguration>
