<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="nc.uap.mde.junit.launch">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HT.Project.Uapbd/uapbd/src/public"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="2"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value="=HT.Project.Uapbd/uapbd\/src\/public"/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit3"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HT.Project.Uapbd"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${FIELD_NC_HOME}"/>
</launchConfiguration>
